<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wjw.bishe.dao.UserDao">

    <update id="changeStatus">
        update student
        set status = #{status}
        where uid = #{uid}
    </update>

    <select id="getByUsername" resultType="wjw.bishe.entity.User">
        select *
        from user
        where username = #{username}
    </select>

    <select id="getStudent" resultType="wjw.bishe.entity.Student">
        select *
        from student
        where uid = #{uid}
    </select>


    <select id="getByUsernameAndPassword" resultType="wjw.bishe.entity.User">
        select *
        from user
        where username = #{username} and password = #{password}
    </select>

    <select id="getAllStudent" resultType="wjw.bishe.entity.Student">
        select *
        from student
        where status = 1
    </select>
</mapper>